org.eclipse.help/dtd/toc.dtd

<!ELEMENT toc (topic | anchor | link)* >
<!ATTLIST toc link_to CDATA #IMPLIED >
<!ATTLIST toc label CDATA #REQUIRED >
<!ATTLIST toc topic CDATA #IMPLIED >

<!ELEMENT topic (topic | anchor | link )* >
<!ATTLIST topic label CDATA #REQUIRED >
<!ATTLIST topic href CDATA #IMPLIED >

<!ELEMENT anchor EMPTY >
<!ATTLIST anchor id ID #REQUIRED >

<!ELEMENT link EMPTY >
<!ATTLIST link toc CDATA #REQUIRED >
