org.eclipse.help/dtd/topics.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT topics (topic | anchor | link)* >
<!ATTLIST topics link_to CDATA #IMPLIED >
<!ATTLIST topics label CDATA #REQUIRED >

<!ELEMENT topic (topic | anchor | link )* >
<!ATTLIST topic label CDATA #REQUIRED >
<!ATTLIST topic href CDATA #IMPLIED >

<!ELEMENT anchor EMPTY >
<!ATTLIST anchor id ID #REQUIRED >

<!ELEMENT link EMPTY >
<!ATTLIST link topics CDATA #REQUIRED >
