org.eclipse.help/dtd/topics.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT toc (topic | anchor | link)* >
<!ATTLIST toc link_to CDATA #IMPLIED >
<!ATTLIST toc label CDATA #REQUIRED >

<!ELEMENT topic (topic | anchor | link )* >
<!ATTLIST topic label CDATA #REQUIRED >
<!ATTLIST topic href CDATA #IMPLIED >

<!ELEMENT anchor EMPTY >
<!ATTLIST anchor id ID #REQUIRED >

<!ELEMENT link EMPTY >
<!ATTLIST link toc CDATA #REQUIRED >
